<div #chatMessages (DOMSubtreeModified)="scrollMessages()" class="messages">
  <div *ngFor="let message of messages">
    <div class="message-author">{{message.username}}</div>
    <div>{{message.body}}</div>
  </div>
</div>
<div class="input-zone" [hidden]="!isLoggedIn">
  <label id="lblMessage" for="tbMessage">Message:</label>
  <input #message (keydown)="onMessageKeydown($event)" class="input-zone-input" type="text" />
  <button id="btnSend" (click)="send()">Send</button>
</div>
<div class="input-zone" [hidden]="isLoggedIn">
  <label id="lblUsername" for="tbUsername">Username:</label>
  <input [(ngModel)]="username" (keydown)="onLogin($event)" class="input-zone-input" type="text" />
</div>
